.contacticons {
    position: relative;
    width: 120px;
    height: 120px;
    background-color: #FFF3DA;
    border-radius: 50%;
    
}

.group:hover .contacticons {
    -webkit-box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    transition-duration: 0.6s;
    transition-timing-function: fade-out;
  }

 


.contactinside {
    position: absolute;
    width: 90px;
    height: 90px;
    background-color: #890000;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    top:15px;
    left:15px;
    


}

.hoverslide{
    position: absolute;
    background-color: #FAA327;
    height: 300px;
    width: 15px;
    top: 0;
    left: 0;

}

.hoverslide2{
    position: absolute;
    background-color: #fcf4d7;
    height: 100%;
    width: 5px;
    top: 0;
    left: 10px;
}

.group:hover .hoverslide{
    height: 135px;
    bottom:0px;
    top:165px;
    transition-duration: 0.6s;
    transition-timing-function: fade-out;
}

.group:hover .hoverslide2{
    bottom:0px;
    width: 310px;
    transition-duration: 0.6s;
    transition-timing-function: fade-out;
}
